<div class="port">
    <div class="card">
        <div class="card_1">
            <img src="../assets/images/desktop/{{ picture }}" alt="logo">
        </div>
        <div class="card_2">
          <div class="tag">
            <ul>
                <li>Web Design</li>
            </ul>
          </div>
            <h2 class="price">{{ price }}</h2>
        </div>
        <div class="card_3">
            <p>{{ descript }}</p>
        </div>
        <div class="card_4">
            <div class="avt"><img src="../assets/images/desktop/course_avt.png" alt="logo"></div>
            <div class="follow">
                <img src="../assets/icons/profile.svg" alt="logo">
                <strong>{{ follow }}</strong>
            </div>
            <div class="view">
                <img src="../assets/icons/view.svg" alt="logo">
                <strong>{{ view }}</strong>
            </div>
            <div class="like">
                <img src="../assets/icons/like.svg" alt="logo">
                <strong>{{ like }}</strong>
            </div>
        </div>
    </div>
</div>
