@use '../abstracts' as *;
@forward 'footer';
@forward 'header';

.container {
  max-width: 192rem;
  margin-inline: auto;
  background-image: url(../assets/images/desktop/bg.png);
  background-size: cover;
  background-position: center 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.body-content {
  padding: 1% 8%;
  width: 100%;

}
button{
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 1px 15px 11px 0px #0000001A;
  border: none;
}
p, h2, img{
  margin: 0px auto;
}
@include sm{
  .text-hidden{
    display: none;
  }
  .body-content{
    padding: 1% 15px;
  }
}
a{
  color: black;
}