<div class="body-content">
<!-- intro -->
<section class="intro">
    <div class="intro-container">
        <h2 class="text1">Unlock Your Potential with</h2>
        <h2 class="text2">Sinar Education</h2>
        <p class="text3">Education isn't just about acquiring knowledge; it's the key that opens
        doors to new worlds<strong class="text-hidden">, empowers individuals, and shapes a brighter future</strong>.</p>
        <button class="intro-button">Start training</button>
    </div>
</section>

<!-- training -->
<section class="training">
    <div class="training-container">
        <button class="training-button">Trainings</button><br/>
        <strong class="text1">Discover</strong><strong class="text2">the World</strong>
        <h2 class="text3">of Design</h2>
    </div>
</section>

<!-- team -->
 <section class="team">
    <div class="team-container">
            <h2 class="text1">Start training with the</h2>
            <strong class="text2">professional </strong><strong class="text3">team</strong>
            <p class="text4">Come on, it's time to start training now!</p>
            <button class="team-button">Start training</button>
    </div>
 </section>

  <!-- courses -->
  <section class="courses">
    <div class="course-container">
      <div class="course-head">
        <div class="left">
          <h2 class="text">Most Popular Courses</h2>
        </div>
        <div class="right">
          <img src="../assets/icons/mark_left.svg" alt="logo-left" />
          <img src="../assets/icons/mark_right.svg" alt="logo-right" />
        </div>
      </div>
      <div class="course-body">
        <include
          src="./components/courses.html"
          locals='{
                    "picture": "course1.png",
                    "price": "$150",
                    "descript": "Launch career as a web desi-gner and learning more.",
                    "follow": "5.3k",
                    "view": "3.2k",
                    "like": "128"
                }'
        ></include>
        <include
          src="./components/courses.html"
          locals='{
                          "picture": "course2.png",
                          "price": "$150",
                          "descript": "Launch career as a web desi-gner and learning more.",
                          "follow": "5.3k",
                          "view": "3.2k",
                          "like": "128"
                      }'
        ></include>
        <include
          src="./components/courses.html"
          locals='{
                          "picture": "course3.png",
                          "price": "$150",
                          "descript": "Launch career as a web desi-gner and learning more.",
                          "follow": "5.3k",
                          "view": "3.2k",
                          "like": "128"
                      }'
        ></include>
        <include
          src="./components/courses.html"
          locals='{
                          "picture": "course4.png",
                          "price": "$150",
                          "descript": "Launch career as a web desi-gner and learning more.",
                          "follow": "5.3k",
                          "view": "3.2k",
                          "like": "128"
                      }'
        ></include>
      </div>
      <div class="course-head">
        <div class="left">
          <h2>Discounted trainings</h2>
      </div>
      <div class="right">
          <img src="../assets/icons/mark_left.svg" alt="logo">
          <img src="../assets/icons/mark_right.svg" alt="logo">
        </div>
      </div>
        <div class="course-body">
          <include
                      src="./components/courses.html"
                      locals='{
                          "picture": "discount1.png",
                          "price": "$150",
                          "descript": "Launch career as a web desi-gner and learning more.",
                          "follow": "5.3k",
                          "view": "3.2k",
                          "like": "128"
                      }'
                  ></include>
                  <include
                      src="./components/courses.html"
                      locals='{
                          "picture": "discount2.png",
                          "price": "$150",
                          "descript": "Launch career as a web desi-gner and learning more.",
                          "follow": "5.3k",
                          "view": "3.2k",
                          "like": "128"
                      }'
                  ></include>
                  <include
                      src="./components/courses.html"
                      locals='{
                          "picture": "discount3.png",
                          "price": "$150",
                          "descript": "Launch career as a web desi-gner and learning more.",
                          "follow": "5.3k",
                          "view": "3.2k",
                          "like": "128"
                      }'
                  ></include>
                  <include
                      src="./components/courses.html"
                      locals='{
                          "picture": "discount4.png",
                          "price": "$150",
                          "descript": "Launch career as a web desi-gner and learning more.",
                          "follow": "5.3k",
                          "view": "3.2k",
                          "like": "128"
                      }'
                  ></include>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- review -->
<section class="review">
  <div class="review-container1">
    <h2 class="text1">Everything is Achievement</h2>
    <p class="text2">Lorem ipsum dolor sit amet consectetur. Nulla vel nec morbi donec senectus pulvinar quis. Id
      dolor orci justo sit a auctor morbi dolor suscipit.</p>
  </div>
  <div class="review-container2">
    <include
        src="./components/count.html"
        locals='{
            "number": "3000",
            "name": "Learners"
        }'
    ></include>
    <div class="part6_icon">
        <img src="../assets/icons/cube_icon.svg" alt="logo">
    </div>
    <include
        src="./components/count.html"
        locals='{
            "number": "100",
            "name": "Courses"
        }'
    ></include>
    <div class="part6_icon">
        <img src="../assets/icons/cube_icon.svg" alt="logo">
    </div>
    <include
        src="./components/count.html"
        locals='{
            "number": "25",
            "name": "Year of service"
        }'
    ></include>
    <div class="part6_icon">
        <img src="../assets/icons/cube_icon.svg" alt="logo">
    </div>
    <include
        src="./components/count.html"
        locals='{
            "number": "150",
            "name": "Contries Connected"
        }'
    ></include>
  </div>
</section>

<!-- chat -->
<div class="body-content">
  <section class="chat">
    <div class="chat-container">
      <div class="panel">
          <h2 class="text1">Live lesson panel and chat section</h2>
          <button class="button">Go to meeting</button>
      </div>
    </div>
  </section>
</div>

<!-- client -->
<div class="body-content">
  <section class="client">
    <div class="client-container">
          <div class="head">
                    <p class="text1">Testimonial</p>
                    <h2 class="text2">What Our Client Say About US</h2>
          </div>
          <div class="body">
            <div class="child">
                  <img src="../assets/images/desktop/client_girl.png" alt="logo">
                  <h2 class="text1">Dilara Çınar</h2>
                  <q class="text2">Lorem ipsum dolor sit amet consectetur. <strong class="text-hidden"> Sagittis facilisi nunc vitae morbi odio.</strong></q>
          </div>
        </div>
    </div>
  </section>
</div>