<!-- intro -->
<section class="intro">
    <div class="intro-container">
        <center>
            <h2 class="text1">Unlock Your Potential with</h2>
            <h2 class="text2">Sinar Education</h2>
            <p class="text3">Education isn't just about acquiring knowledge; it's the key that opens
            doors to new worlds, empowers individuals, and shapes a brighter future.</p>
            <button class="intro-button">Start training</button>
        </center>
    </div>
</section>
<!-- training -->
<section class="training">
    <div class="training-container">
        <center>
        <button class="training-button">Trainings</button><br>
        <div>
            <h2 class="text1">Discover</h2><h2 class="text2">the World</h2>
        </div>
        <h2 class="text3">of Design</h2>
        </center>
    </div>

</section>
<!-- team -->
 <section class="team">
    <div class="team-container">
        <center>
            <h2 class="text1">Start training with the</h2>
            <strong class="text2">professional </strong><strong class="text3">team</strong>
            <p class="text4">Come on, it's time to start training now!</p>
            <button class="team-button">Start training</button>
        </center>
    </div>

 </section>



