@use "../../abstracts/" as *;

.intro{
  @include center-element;
}
.intro-container{
  margin-top: 8%;
  width: 100%;
  @include xs{
      margin-top: 65px;
  }
}
.intro .text1{
    color: $black;
}
.intro .text2{
  margin-top: 10px;
  @include gradient;
}
.intro .text1, .intro .text2{
    @include font(57px, 550);

}
.intro .text3{
    @include font(16px, 500);
    max-width: 557px;
    margin-top: 20px;
}
.intro-button{
    background-color: #252739;
    color: white;
    size: 16px;
    margin-top: 30px;
}
@include lg{
  .part1 .text1, .part1 .text2{
      @include font(45px, 600);
  }
  .part1 .text1, .part1 .text3{
      @include font(13px, 500);
  }
}
@include sm{
  .part1 .text1, .part1 .text2{
      @include font(24px, 600);
  }
}
