@use "../../abstracts/" as *;

.review{
    background: #FFFFFF;
    // margin-top: 250px;
    margin-top: -70px;
    margin-bottom: -70px;
}
.review .text1{
    @include font(45px, 600);
    color: $black;
    @include lg{
      @include font(32px, 600);
    }
    @include sm{
        @include font(24px, 600);
    }
}
.review-container1{
    padding: 44px;
}
.review-container1 .text2{
    max-width: 792px;
    color: $text-grey;
    margin-top: 24px;
    @include font(16px, 400);
    @include lg{
        @include font(14px, 600);
    }
    @include sm{
        @include font(12px, 600);
    }
}
.review-container2{
    @include between;
    // width: 100%;
    padding: 44px 0px;
    margin: 0px 15%;
    flex-wrap: wrap;
}
.cube_icon img{
    min-width: 66px;
    height: auto;
}
.cube_icon{
    margin: 7px 44px;
}
