@use "../../abstracts/" as *;

.team{
  margin-top: 4rem;
}
.team-container{
  background-image: url(../assets/images/desktop/team.png);
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-left: 2%;
  box-shadow: 10px 20px 50px 10px #0000001A;
  width: 98%;
  height: fit-content;
  @include xs{
      background-image: url(../assets/images/mobile/team_mb.png);
  }
}

.team .text1{
  padding-top: 43%;
  @include xs{
    padding-top: 80%;
  }
}
.team .text1, .team .text2, .team .text3{
  @include font(4.5rem, 500);
  color: $text-grey;
  @include md{
    @include font(3.6rem, 500);
  }
@include md{
    @include font(2.8rem, 500);
  }
}
.team .text4{
  @include font(1.6rem, 500);
  margin-top: 2rem;
  @include md{
    @include font(1.4rem, 500);
  }
@include md{
    @include font(1.2rem, 500);
  }
}
.team-button{
  @include blackbutton;
  margin: 5%;
}
.team .text2{
  @include gradient;
}


